<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>heathify.com</title>

</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="index.html" class="brand-logo">Healthify</a>
     
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="nearby-stores" routerLinkActive="active">Nearby Stores</a></li>
		    <li><a routerLink="order" routerLinkActive="active">Order</a></li>
      </ul>
	  
     </div>
  </nav>

  <router-outlet></router-outlet>

  <footer class="page-footer orange">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Company Bio</h5>
            <p class="grey-text text-lighten-4">We are a team of college students working on this project. Any help and support for development on this project is greatly appreciated.</p>
          </div>
          
          <div class="col l3 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
              <li><a class="white-text" href="https://www.facebook.com">Facebook</a></li>
              <li><a class="white-text" href="https://www.instagram.com">Instagram</a></li>
              <li><a class="white-text" href="https://www.linkedin.com">LinkedIn</a></li>
              <li><a class="white-text" href="https://www.twitter.com">Twitter</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          <!-- Made by Raj Shah -->
        </div>
      </div>
  </footer>
  
</body>
</html>